---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Expertise from '../components/Expertise.astro';
import About from '../components/About.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Miller IP | Patents & Trademarks - Protecting Your Innovations">
  <main>
    <Hero />
    <Services />
    <Expertise />
    <About />
    <CTA />
    <Footer />
  </main>
</Layout>